# Thanks https://stackoverflow.com/a/29932318
# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md

# global ignore
**/.DS_Store
**.log
**tmp/
**temp/
**/cache/
!**www**/cache/
!**phpMyAdmin**/cache/

# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!usr/
!bin/
bin/*
!bin/composer/
!bin/cmder/
bin/cmder/config/clink_history*
!bin/nginx/
!bin/nodejs/
bin/nodejs/node-v14/*
!bin/nodejs/node-v14/node_modules
# Nodejs root
!bin/nodejs/node-v14/CHANGELOG.md
!bin/nodejs/node-v14/install_tools.bat
!bin/nodejs/node-v14/LICENSE
!bin/nodejs/node-v14/node*
bin/nodejs/node-v14/nodemon*
!bin/nodejs/node-v14/npm*
!bin/nodejs/node-v14/npx*
!bin/nodejs/node-v14/README.md


bin/nodejs/node-v14/node_modules/*
!bin/nodejs/node-v14/node_modules/npm
!bin/php/
!bin/ter.lnk
!bin/notepad++
!etc
etc/apps/phpMyAdmin
!www/
www/*
!www/index.php
!www/resources/