# Thanks https://stackoverflow.com/a/29932318
# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md

# global ignore
**/.DS_Store
**.log
**tmp/
**cache

# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!usr/
!bin/
bin/*
!bin/composer/
!bin/cmder/
bin/cmder/config/clink_history*
!bin/nodejs/
!bin/php/
!bin/ter.lnk
!bin/notepad++
!etc
etc/apps/phpMyAdmin
!www/
www/*
!www/index.php
!www/resources/

bin/nodejs